@import "tailwindcss";
/* src/styles/Login.css */
.login-box {
  width: 350px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  background: #fff;
}

.login-box input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-box button {
  width: 100%;
  padding: 0.75rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-text {
  color: red;
  font-size: 0.9rem;
}

@layer components{
    .layout{
        @apply flex flex-col bg-[#1e1e1e]
    }
    .header{
        @apply flex justify-between text-center m-5 bg-white text-blue-700
    }
    .footer{
        @apply flex text-center justify-center 
    }
}

.btn{
  width: 100%;
  padding: 0.75rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}